.App-header-container {
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}
.App-header-container .headline-text {
  font-size: 18px;
}
.App-header-container .headline-menu div {
  font-size: 10px;
  padding: 5px;
}
.App-header-container .headline-menu {
  display: flex;
}

.App-header-container .selectedMenu {
  color: black;
}
.App-header-container .unselectedMenu {
  color: #e7c9c9;
}

@media (min-width: 480px) {
  .App-header-container {
    display: flex;
  }
}
