.LoanProductList-container {
  padding: 15px 0;
}

.LoanProductList-container .pagintion-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LoanProductList-container .faded-text,
.pagination-button,
.search-button {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #4adbc8;
  padding: 5px;
  height: 30px;
  text-align: center;
  width: 80px;
}
.LoanProductList-container .faded-text {
  font-weight: 100;
  border: 1px solid #4adbc8;
}

.LoanProductList-container .pagination-button,
.search-button {
  color: white;
  background-color: #4adbc8;
}

.LoanProductList-container .list-of-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.LoanProductList-container .single-container {
  background-color: white;
  height: 400px;
  width: 300px;
  box-shadow: 5px 10px 10px #888888;
  padding: 8px;
  margin: 20px;
}

.single-container .headline {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 8px;
  font-weight: 500;
  height: 16%;
}
.single-container .rating-box {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 8px;
}
.single-container .rating-title {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}
.single-container .rating-percentage {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.single-container .features {
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary-color);
  height: 40%;
}

.single-container .each-feature {
  display: flex;
  padding: 5px 0;
}
.single-container .feature-text {
  font-weight: 500;
  font-size: 15px;
  padding: 0 0 0 5px;
}
.single-container .compare-with-info {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
}
.single-container .checkbox-with-message {
  display: flex;
}

.single-container .checkbox {
  margin: 5px 5px 0 0;
}
.single-container .info-text {
  font-weight: 500;
  padding-bottom: 1px;
  border-bottom: 1.5px solid black;
  border-block-style: initial;
}
.single-container .go-to-site-container {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
}
.single-container .go-to-profile-image {
  margin: 12px 10px 12px 0;
}

.single-container .go-to-site-button {
  display: flex;
  padding: 15px;
  height: 50px;
  border-radius: 5px;
  background-color: #13b45a;
  color: white;
  box-shadow: 3px 5px 5px #888888;
}
.single-container .right-arrow-icon {
  padding: 0 5px;
}

.LoanProductList-container .no-products-found {
  margin: 20% 0;
  text-align: center;
}

.visualization-container {
  display: flex;
}
.pagination-graph-container {
  justify-content: center;
}

.visualization-container {
  justify-content: center;
  padding: 10px 0 0 0;
}
.visualization-container .visualization-checkbox {
  margin: 5px;
}
.graph-container {
  display: flex;
  justify-content: center;
}
.graph-container .interst-rate-input,
.search-button {
  padding: 5px;
  margin: 20px 0;
}
.interst-rate-input {
  border-radius: 5px;
}
.graph-container .search-button {
  margin-left: 10px;
}

@media (min-width: 580px) {
  .pagination-graph-container {
    display: flex;
    justify-content: center;
  }

  .visualization-container {
    position: absolute;
    right: 100px;
    padding: 5px 0 0 0;
  }
}
