@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
* {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  /* background-color: var(--page-background); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
